<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchComment()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.search_comment} <input type="text" name="keyword" /> <input type="submit" class="Button" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="comment_manage.php?act=batch_drop" name="listForm" onsubmit="return confirm_bath()">

<!-- start comment list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th width="2%">
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('order_id'); ">{$lang.record_id}</a> {$sort_order_id}</th>
    <th width="20%">用户名</th>
    <th width="50%">标语</th>
    <th>商品</th>
    <th><a href="javascript:listTable.sort('show_square'); ">状态</a>{$sort_show_square}</th>
  </tr>
  {foreach from=$comment_list item=comment}
  <tr>
    <td><input value="{$comment.order_id}" name="checkboxes[]" type="checkbox">{$comment.order_id}</td>
    <td>{$comment.uname}</td>
    <td align="left"><span onclick="listTable.edit(this, 'edit_square', {$comment.order_id})">{$comment.square|escape:html}</span></td>
    <td>{$comment.goods_name}</td>
    <td align="center"><img src="images/{if $comment.show_square eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'show_square', {$comment.order_id})" /></td>
  </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td></td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end comment list -->

</form>
<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  cfm = new Object();
  cfm['allow'] = '{$lang.cfm_allow}';
  cfm['remove'] = '{$lang.cfm_remove}';
  cfm['deny'] = '{$lang.cfm_deny}';

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      document.forms['searchForm'].elements['keyword'].focus();
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索评论
   */
  function searchComment()
  {
      var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      if (keyword.length > 0)
      {
        listTable.filter['keywords'] = keyword;
        listTable.filter.page = 1;
        listTable.loadList();
      }
      else
      {
          document.forms['searchForm'].elements['keyword'].focus();
      }
  }
  {/literal}

  function confirm_bath()
  {
    var action = document.forms['listForm'].elements['sel_action'].value;

    return confirm(cfm[action]);
  }
//-->
</script>
{include file="pagefooter.htm"}
{/if}